body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 50vh;
    border-radius: 5px;
    border:0.5px solid rgb(3, 85, 41) ;
    background-color:  rgb(3, 85, 41);
}   
.login{
    height: 50vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid rgb(3, 230, 14);
}
button{
    width: 60%;
    padding: 10px;
    background-color:rgb(2, 177, 84);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.username{
    font-weight: bold;
    color: rgb(3, 85, 41);
    position: absolute;
    top: 15px;
    left: 20px;
    outline: 2px solid rgb(3, 85, 41);
    padding: 10px;
    border-radius: 20px;
}